{% extends "layout.html" %}

{% block body %}

<nav class="navbar fixed-top navbar-light bg-light navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#"><h3>A Simple Notes App</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavBar" aria-controls="myNavBar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="myNavBar">

      <ul class="nav nav-pills ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Today</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/my_notes">My Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/notes/add">Add Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">View profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">Log Out</a>
        </li>
      </ul>
    </div>

  </div>
</nav>

{% endblock %}
