{% extends "layout.html" %}

{% block body %}

<div class="jumbotron">
    {% if username %}
        {% if delete %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Note deleted successfully
            </div>
        {% endif %}

        <h1>Welcome, {{ username }}</h1>

        {% if notes != [] %}
            <input type="text" id="notes" class="form-control no_borders" autocomplete="off" name="notes" placeholder="Search Note">
            <div style="padding-top: 20px">
                <div id="result"></div>
            </div>
            <br>
            <table class="table table-hover table-striped table-bordered" style="background-color: white;">
                <thead class="text-center">
                    <tr>
                        <th class="text-center">#</th>
                        <th>Note Title</th>
                        <th>Note Saved on</th>
                        <th>Tags</th>
                        <th class="text-center">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for note in notes %}
                        <tr>
                            <td class="text-center">{{ loop.index }}</td>
                            <td> <a href="/notes/{{ note.id }}/">{{ note.title }}</a></td>
                            <td>{{ note.date_created }}</td>
                            <td></td>
                            <td class="text-center">
                                <a href="/notes/delete/{{ note.id }}/">delete</a>
                            </td>
                        </tr>
                    {%  endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-danger">
                You have no notes added! Let's add one <a href="/notes/add/">here</a>
            </div>
        {% endif %}
    {% endif %}
</div>

<script>
    homelink = document.getElementById("notes").childNodes[1];
    homelink.className += " active";
</script>

{% endblock %}
