{% extends "layout.html" %}

{% block body %}

<div class="jumbotron">
    <div class="container">
    {% if username %}
        <div class="row" style="padding-top: 2%">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <div class="card mb-2 box-shadow">
                    <div class="card-body">
                        <h3 class="card-title"><b>Note Details:</b></h3>
                    </div>
                </div>
            </div> <!-- ./column -->

            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <div class="card mb-10 box-shadow">
                    <div class="card-body">
                        <h3 class="card-title"><b>Note Title: </b>{{ note.title }}</h3>
                        <p class="card-text">
                            <small><i>
                                <b>Added on: </b>{{ note.date_created | datetimeformat("%d %b %Y") }}.
                                <b>Last Updated: </b>{{ note.last_edited | datetimeformat("%d %b %Y") }}.
                                {% if note.private %}
                                    *Only you can view this note
                                {% endif %}
                            </i></small>
                        </p>
                        {% if can_edit %}
                            <a href="/notes/edit/{{ note.id }}/" class="pull-left">
                                <button type="button" class="btn btn-info">
                                    <span class="glyphicon glyphicon-edit"></span> Edit
                                </button>
                            </a>
                            <a href="/notes/delete/{{ note.id }}/" class="pull-right">
                                <button type="button" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span> Delete
                                </button>
                            </a>
                        {% endif %}

                        <p class="card-text">
                            {{ note.body_markdown }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    </div>
</div>

<script>
    homelink = document.getElementById("notes").childNodes[1];
    homelink.className += " active";
</script>

{% endblock %}
